# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/

# Type checking
.mypy_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/

# IDEs
.vscode/
.idea/

# Operating systems
.DS_Store
Thumbs.db
